body {
	overflow-x: hidden;
}

div {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.homediv {
	align-items: center;
  justify-content: center;
}

/*sacar el align items y justify content del tag div general*/

#airplane {
	position: relative;
	width: 142px;
	left: 55%;
	right: -10.53%;
	top: -20px;
	margin-bottom: 2px;
	transform: rotate(20deg);
}

#logo {
	width: 200px;
	margin-bottom: 3rem;
}

#welcome {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 21px;
	font-weight: 500;
	color: white;;
	margin-bottom: 5px;
}

#passport {
	position: relative;
	width: 64.45px;
	right: 65%;
	transform: rotate(-25deg);
	margin-bottom: 2rem;
}

.divButtons {
	background-color: white;
}

button {
  border-radius: 15px;
  height: 2rem;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 18px;
}

.buttonBack {
	background-image: url(https://firebasestorage.googleapis.com/v0/b/pata-de-perro-3a9dd.appspot.com/o/arrow1.png?alt=media&token=2bd8d990-8d6d-4302-82f6-bd7a0980bd6f);
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	border-color: none;
	border-style: none;
	background-color: white;
	right: 38%;
}

#btnRegister, #btnLogin {
	background-color: #F25040;
	border-color: none;
	border-style: none;
	color: white;
	width: 210px;
}

#buttonRegister, #buttonLogin {
	position: relative;
	background-color: #F25040;
	border-color: none;
	border-style: none;
	color: white;
	width: 105px;
	left: 27%;
}

#btnGoogle {
	vertical-align: center;
	background-color: #ffffff;
	border: 1px solid #C8C8C8;
	color: #6D6D6D;
	width: 210px;
	padding-left: 2rem;
}

.imgGoogle {
	position: absolute;
	left: 13%;
	top: 187px;
}

.imgGoogleLog {
	position: absolute;
	left: 22%;
	top: 230px;
}

.imgGoogleReg {
	position: absolute;
	left: 21%;
	top: 331px;
}

#labelO {
	color: #737373;
	font-size: 20px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
}

#eyeOff, #eyeOn {
	position: absolute;
	width: 20px;
	right: 50px;
	top: 135px;
	opacity: 0.6;
}

#eyeOffLogin, #eyeOnLogin {
	position: absolute;
	width: 20px;
	right: 50px;
	top: 82px;
	opacity: 0.6;
}

#labelRegister {
	font-family: 'Bowlby One', cursive;
	font-size: 28px;
	position: relative;
	right: 28px;
	top: 50px;
	color: #F25040;
}

.labelLogin {
	font-family: 'Bowlby One', cursive;
	font-size: 28px;
	position: relative;
	left: -2%;
	top: 50px;
	color: #F25040;
}

#labelSub, .subLabel {
	font-family: 'Merriweather Sans', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 21px;
	color: #6D6D6D;
	letter-spacing: 1px;
	position: relative;
	top: 45px;
	right: 8%;
	margin-bottom: 40px;
}

.labelErr {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #F25040;
}

.imgPin {
	position: absolute;
	margin-top: 0;
	top: 15px;
	width: 50px;
	left: 82%;
}

.divFormRegister, .divLogin {
	border: 1px solid #E3E3E3;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 15px #e4e4e4;
	padding: 37px;
	top: 40px;
}

input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #F25040;
	margin-bottom: 32px;
	width: 230px;
}

input::placeholder {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #AEAEAE;
	letter-spacing: .5px;
}

.logoWall {
	position: relative;
	width: 90px;
	right: 6rem;
	top: 2rem;
}

.labelUser {
	position: relative;
	left: 7rem;
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
	color: #252525;
}

.btnLogOut {
	position: relative;
	left: 6rem;
	margin-top: 0;
	border: none;
	background-color: #ffffff;
	font-size: 15px;
	font-family: 'Merriweather Sans', sans-serif;
	color: #F25040;
}

.labelWelcome {
	position: relative;
	right: 75px;
	font-family: 'Bowlby One', cursive;
	font-size: 18px;
	color: #464646;
}

#post {
	width: 257px;
	border: none;
	margin-top: 25px;
	font-family: 'Merriweather Sans', sans-serif;
}

#btnPublish {
	position: relative;
	left: 5rem;
	width: 90px;
	border: none;
	background-color: #F25040;
	color: #ffffff;
}

.divPost {
	border: 1px solid #E3E3E3;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 15px #e4e4e4;
	top: 20px;
	width: 295px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.postUn {
	position: relative;
	right: 110px;
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
	color: #E4171D;
}

.areaPost {
	position: relative;
	font-size: 14px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	color: #000000;
}